@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Enterprise Web Hosting Services<br />
</address>

<address>
    <strong>Support:</strong>   <a href="IT_ITHS_GHO_WH@gsk.com">IT_ITHS_GHO_WH@gsk.com</a><br />    
</address>