@model IEnumerable<VIPSandPool.Data.Models.VirtualServer>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>kopsxldb004</h1>
    <div>
        There are @Model.Count() Virtual Servers in the db.
    </div>
</div>
